numpy
opencv-python
cv_bridge
tensorflow
tensorflow_hub
tf2_ros
tf2_geometry_msgs
tf-transformations
rclpy
rcl_interfaces
sancho_msgs
sensor_msgs
message_filters
scikit-learn
people_msgs
visualization_msgs
std_msgs
